p{
    color: green;
}

nav ul{
    list-style-type:none;
    margin:0;
    padding:0;
}

#logo a{
    text-decoration: none;
    color: black;
}

div{
    background-color: rgba(182, 238, 255, 0.60);
}

p.article{
    margin: 2;
    background-color: rgb(245, 202, 36);
}

ul.tags li{
    font-style: italic;
    list-style-type: none;
    display: inline;
    padding: 0px;
    margin: 0px;
}