p{
    color: green;
    background-color: bisque;
}

nav ul{
    list-style-type:none;
    margin:0;
    padding:0;
}

#logo a{
    text-decoration: none;
    color: black;
}

div{
    background-color: rgba(182, 238, 255, 0.60);
}